<html>
<head>
	<title>Uploader</title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>

<%= form_for(:video, url: "https://api.vid.me/video/upload") do |f| %>
	<%= f.label :video %>
	<%= f.file_field %>

	<%= f.submit %>

<% end %>


<!-- <form enctype="multipart/form-data" method="POST" data-remote="true" >
	<input type="file" name="filedata" id="video">
	<input type="text" name="dude">
	<input type="submit">
</form> -->

<script type="text/javascript">
var videoInput = document.getElementById('video');
var myForm = $('form');

myForm.on('submit', function(){
	// var myFormData = new FormData();
	myForm.append('video', videoInput.files[0]);
	// evt.preventDefault();
	console.log(myForm.has('video'));
	console.log(videoInput.files[0]);

	$.ajax({
	  url: 'https://api.vid.me/video/upload',
	  type: 'POST',
	  processData: false,
	  contentType: false, // important
	  // dataType : 'html',
	  data: videoInput.files[0],
	 success: function () {
    console.log("Local success callback.")}
	});
})


</script>
</body>
</html>