<h1>Videos</h1>

<div>
<%=@videos.each do |v| %>
<!-- <%#="Title:" + " " + v.title %><br>  -->
<!-- <%#="Description:" + " " + v.description%><br> -->
<%= video_tag("v.video") %><br><br>
<%end%>


</div>

