<%= render 'layouts/header' %>
<div class="jumbotron">
	<div class="container">
  		<h1>Welcome to Street Scout</h1>
  		<p>Share local street artist talent with the world!</p>
  		<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>Sign Up! Create an account to start posting videos</p>
    </div>
    <div class="col-sm-4">
      <p>Upload videos of your favorite street artists to share their talents with the world.</p>
    </div>
    <div class="col-sm-4">
      <p>View and vote on all video uploads.  At the end of the week, the video with the highest score will be featured with the potential for this website's creator to see!</p>
    </div>
  </div>
</div>



